// This file is loaded when main.js loads

.hidden {
	display: none;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#container {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
